#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #2F4F4F;
  color: white;
  border-radius: 5px;
}
.card:hover {
  transform: translateY(-5px);
}

.header {
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 50px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 60px; /* Adjusted for fixed header height */
  padding: 20px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;

}

.pagBtn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 10px;
  cursor: pointer;
}

.pagBtn:disabled {
  background-color: grey
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
